<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This Site was Created by Neel Shah. It uses Data From Mapbox.com and weatherstack.api </p>
            <img class="portait"src="img/me.jpg">
        </div>
        {{>footer}}
    </body>
</html>